{% extends "base.html" %}
{% block content %}
<h2>Твоя продуктивность</h2>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card p-4 text-center bg-light">
            <h3>{{ total }}</h3>
            <p>Всего задач</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-4 text-center bg-light">
            <h3>{{ done }}</h3>
            <p>Выполнено</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-4 text-center bg-primary text-white">
            <h3>{{ percent }}%</h3>
            <p>Успешность</p>
        </div>
    </div>
</div>
<div class="mt-4">
    <a href="/" class="btn btn-outline-dark">Назад</a>
</div>
{% endblock %}